# ignore venv files
.venv

all_planets/.sh*
all_planets/.*.py.sn
burnman/.*.py.sn

all_planets/planet/
all_planets/planet2/
all_planets/planet3/
all_planets/planet4/
all_planets/planet5/
all_planets/p3penv/

led / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST








### raw data stuff, not final
#
all_planets/zzz_moon/
all_planets/zzz_ganymede_10/
all_planets/zzz_europa/
all_planets/zzz_ganymede_10/
all_planets/zzz_ganymede/
all_planets/ganymede_core_mantle_structures/
all_planets/ganymede_core_mantle_structuresall_10/
all_planets/moon_asses_plot_dir/
all_planets/moon_bassess_plot_dir
all_planets/randofigs/
all_planets/old_slope_texts/
all_planets/europa_core_mantle_structuresall/
all_planets/zzz_europa_test/
all_planets/moon_core_mantle_structuresall/
all_planets/zzz_moon_test/
all_planets/old_moon_core_mantle_structures/
all_planets/py_moon_core_mantle_structures/
all_planets/ganymede_core_mantle_structuresall/
all_planets/moon_core_mantle_structuresnew/
all_planets/europa_asses_plot_dir/
all_planets/zzz_ganymede_test/
all_planets/ganymede_basses_plot_dir/
all_planets/copies/
all_planets/many_moon_models/
all_planets/moon_core_mantle_structuresnewbm/
all_planets/moon_bassess_plot_dir1/
all_planets/zzz_earth_test/
all_planets/sat_files/
all_planets/ganymede_basses_plot_dir_10/
all_planets/moon_core_mantle_structure_final_doro_40/
all_planets/europa_basses_plot_dir/
all_planets/parameter_group_files*/
all_planets/old_parameter*/
all_planets/old_moon_core*/
all_planets/moon_core_mantle_structures_ideal_*/
all_planets/zzz_mars_test/
all_planets/mars_core_mantle_structures/
all_planets/europa_core_mantle_structures/
all_planets/earth_core_mantle_structures/
all_planets/moon_core_mantle_structures_practice
all_planets/slope_files
all_planets/planet_core_mantle_structures/
all_planets/pass
all_planets/parameter_group_files*/
all_planets/moon_core_mantle_structures/
all_planets/ganymede_core_mantle_structures_12/
*.swp
all_planets/*.swp
burnamn/*.swp
all_planets/*.sw*

.venv
